# Media Stack Environment Variables

# Required
DOCKER_DATA_BASEFOLDER=/opt/docker/data
DOCKER_MEDIA_BASEFOLDER=/opt/docker/media

# Required for qbit_manage
QBITTORRENT_USERNAME=REPLACE_ME
QBITTORRENT_PASSWORD=REPLACE_ME

# Required for Sonarr integration
SONARR_API_KEY=REPLACE_ME
AW_APP_KEY=REPLACE_ME
