# RomM Stack Environment Variables

# Required
DOCKER_DATA_BASEFOLDER=/opt/docker/data
DOCKER_MEDIA_BASEFOLDER=/opt/docker/media
LOCAL_RETROPIE_BASE=/opt/docker/media/retropie
ROMM_DB_NAME=romm
ROMM_DB_USER=romm-user
ROMM_DB_PASSWORD=REPLACE_ME
ROMM_DB_ROOT_PASSWORD=REPLACE_ME
ROMM_AUTH_SECRET_KEY=REPLACE_ME

# Optional metadata providers
SCREENSCRAPER_USER=
SCREENSCRAPER_PASSWORD=
RETROACHIEVEMENTS_API_KEY=
STEAMGRIDDB_API_KEY=
HASHEOUS_API_ENABLED=true
