UPLOAD_LOCATION=/home/dietpi/media/immich
DB_DATA_LOCATION=/home/dietpi/docker_data/immich/postgres
# IMMICH_VERSION: Use 'v2' for latest v2.x.x release (recommended, auto-updates available)
# Alternatively use specific version like 'v2.2.3' for pinned releases
# See: https://github.com/immich-app/immich/releases
IMMICH_VERSION=v2
IMMICH_HOST=0.0.0.0
DB_PASSWORD=REDACTED
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
